---
layout: default
title: Publications
---
<table class="table">
<tbody>

  {% for post in site.data.publications %}
  {% assign postz = post[1] %}
    {% unless postz.next %}
    
    {% for post in site.posts %}
    
    

    
    
    <tr>
    
    <td>
      <span class="date">
      				  
					<big><strong>{{ postz.date | date: '%Y' }}</strong></big><br />
				 {{ postz.date | date: "%B" }}

    {% else %}
      {% capture year %}{{ postz.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ postz.next.date | date: '%Y' }}{% endcapture %}
      
      {% if year != nyear %}
      	<big><strong>{{ postz.date | date: '%Y' }}</strong></big><br />
      {% endif %}
    {% endunless %}
	</span>
    </td>
    
    
    
    	<td class="publication">
			<span class="pubtitle">
	<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"height="16" alt="PDF" />
	<a href="http://sampa.cs.washington.edu/papers/grappa-usenix-2015.pdf">{{postz.title}}</a>.
			</span><br />
			<span class="authors">
				Jacob Nelson, Brandon Holt, Brandon Myers, Preston Brigg, Luis Ceze, Simon Kahan, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 USENIX Annual Technical Conference (USENIX ATC 15)</span>.
			<br />
			<span class="links">
			</span></td>

  {% endfor %}
</tr>
</tbody>
</table>
