---
layout: default
title: Publications
---
<table class="table">
<tbody>

  {% for post in site.data.publications %}
  {% assign postz = post[1] %}
    {% unless postz.next %}
        <tr>
    <td>
      <span class="date">
      	
  		{% assign currentdate = postz.date | date: "%Y" %}
  		{% if currentdate != date %}
    			<big><strong>{{ currentdate }}</strong></big><br />
    		{% assign date = currentdate %} 
  		{% endif %}
  		{{ postz.date | date: "%B" }}  
  		
  						
    {% endunless %}
	</span>
    </td>
    
    
    
    	<td class="publication">
			<span class="pubtitle">
	<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"height="16" alt="PDF" />
	<a href={{postz.link}}>{{postz.title}}</a>.
			</span><br />
			<span class="authors">
				{{postz.authors}}
			</span><br />
			<span class="venuetype"></span><span class="venue">{{postz.venue}}</span>.
			<br />
			<span class="links">
			</span></td>

  {% endfor %}
</tr>
</tbody>
</table>
